/* Reset CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");



* {
    box-sizing: inherit;
}

/* HTML styles */
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}