.main_page {
    position: relative;
    top: 50px;
    width: 100%;

}

.main_page .container {
    width: 100%;
}

/* author info */
.author_info {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: url(./../imgs/bgdavatar.jpg) no-repeat;
    background-position: 75% 25%;
    background-size: cover;
}

.author_info .wrapper {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-flow: row nowrap;

}

.author_avatar {
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.author_info .infomation {
    position: relative;
    height: 100px;
}

.author_avatar img {
    width: 100%;
    height: 100%;
}

.author_name {
    position: absolute;
    top: 10px;
    font-weight: bold;
    font-size: 50px;
    color: var(--text-color);

}

.author_bio {
    position: absolute;
    top: 50px;
    font-size: 25px;
    font-weight: 700;
}

.author_interact {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
    color: var(--text-color);
}

.author_interact span {
    margin-right: 10px;
    position: relative;
    padding: 3px 180px 3px 0;
    font-size: 23px;
}

.author_interact span::before {
    content: attr(class);
    position: absolute;
    left: 50px;
    text-transform: capitalize;
}

.author_interact span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 180px;
    width: 2px;
    height: 100%;
    background-color: var(--text-color);
}

/* author menu */

.author_menu {
    width: 100%;
    height: 70px;
    background: var(--third-bgd-color);
    display: flex;
    align-items: center;
}

.author_menu .wrapper {
    width: 100%;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author_menu .left ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 70px;
}

.author_menu .left ul li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 30px;
    color: var(--text-color);
    box-sizing: border-box;
    cursor: pointer;
}

.author_menu .left ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: var(--text-color);
    transition: all ease-in-out;
}

.author_menu .left ul li:hover {}

.author_menu .left ul li:hover::before {
    width: 100%;
}

.author_menu .right,
.author_menu .right .more ul,
.author_menu .right .follow {
    display: flex;
    align-items: center;
}

.author_menu .right .more ul li {
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
}

.author_menu .more_menu_author {
    display: inline-block;
    position: relative;
}

.author_menu .more_menu_author:hover .more_content {
    display: block;
}

.author_menu .more_content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--background-color);
    padding: 15px 0;
    border: 0.5px solid #555;
    z-index: 1;
}

.author_menu .more_content ul {
    display: flex;
    flex-flow: column nowrap;
}

.author_menu .more_content ul li:hover {
    background: #0d0f971f;
}

.author_menu .more_content ul li a {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    margin: 0;
    color: var(--text-color);
}

.author_menu .more_content ul li a span {
    margin-right: 5px;
}

.author_menu .more .outside {
    position: relative;
}

.author_menu .more .outside::before {
    display: none;
    content: attr(id);
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 20px;
    text-transform: capitalize;
    transform: translateX(-50%);
    padding: 10px;
    background: var(--background-color);
    border: 0.5px solid #555;
    border-radius: 5px;
}

.author_menu .more .outside:hover::before {
    display: block;
}

.author_menu #donate_btn,
.author_menu #sub_btn {
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transform: scale(1);
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);

}

.author_menu #donate_btn span,
.author_menu #sub_btn span {
    margin-right: 10px;
}

.author_menu #donate_btn:hover {
    background: #dfff4e;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.author_menu #sub_btn:hover {
    background: #23e62c;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.author_menu #donate_btn:focus {
    border-color: #7d3c98;
    transform: translateY(0);
    box-shadow: none;
    background: #dfff4e;
}

.author_menu #sub_btn:focus {
    border-color: #7d3c98;
    transform: translateY(0);
    box-shadow: none;
    background: #23e62c;
}

/* user collection */

.author_collection {
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
}

.author_collection .wrapper {
    margin: 0 50px;
    width: 100%;
}

/* header collection lastest dicciartions */

.lastest_diciiart {
    display: inline-block;
    width: 100%;
}

.lastest_diciiart .prev,
.lastest_diciiart .next {
    position: absolute;
    margin: 0 10px;
    top: 150px;
    z-index: 2;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 40px;
    color: var(--text-color);
    background-color: var(--background-color);
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid #555;

}

.lastest_diciiart .prev:hover,
.lastest_diciiart .next:hover {
    background-color: #22265e94;
    transform: scale(1.1);
}

.lastest_diciiart .next {
    right: 50px;
}

.lastest_diciiart .seeall {
    position: absolute;
    top: 0;
    margin: 0 40px;
    right: 50px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
}

.lastest_diciiart .cover {
    top: 25px;
    right: 0;
    position: absolute;
    width: 50px;
    height: 320px;
    background: var(--background-color);
    z-index: 2;
}

.category {
    font-size: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.lastest_diciiart_wp {
    width: calc(100%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.author_collection .card {
    margin-right: 20px;
    width: 250px;
    height: 300px;
    transition: 0.5s;
}



.author_collection .card_body {
    position: relative;
    top: -305px;
    display: block;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.card:hover .card_body {
    opacity: 1;
    pointer-events: auto;
}

.card:hover .card_img {
    filter: blur(4px);
}

.card_body .wrapper {
    width: 250px;
    height: 300px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    position: absolute;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 5px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}

.author {
    display: flex;
    align-items: center;
}

.author .avatar {
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}

.favour {
    display: flex;
    align-items: center;
}

.favour .text {
    margin-right: 10px;
}

.lastest_diciiart_wp .card:nth-child(n+) {
    opacity: 0;
}

/* clt_midle */
.clt_middle {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 50px;
    width: 100%;

}

/* oc  */
.author_collection .left {
    width: 38.5%;

}

.oc {
    position: relative;
    width: 100%;
}

.oc_wp {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.oc_wp .card:nth-child(n+11) {
    opacity: 0;
}

.oc .seeall {
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.oc_wp .card {
    margin: 0;
    margin-bottom: 15px;
}

.watching,
.watcher {
    margin: 50px 0;
}

.watching span,
.watcher span {
    margin: 10px;
}

.author_collection .right {
    width: 680px;
    height: 600px;
    margin: 0 50px;
}

.about_wp {
    width: 100%;
    /* height: 100%; */
    background: var(--third-bgd-color);
    border-radius: 5px;
    border: 1px solid #555;
    padding: 40px;
    box-sizing: border-box;
}

.about_wp .digital {
    font-size: 30px;
    color: var(--text-color);
}

.about_wp .story {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.about_wp .story div {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 30px;
}

.about_wp .story div span {
    margin-right: 5px;
}

.about_wp .link {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 17px;
}

.about_wp .link span {
    margin-right: 5px;
}

.about_wp .bio {
    font-size: 20px;
}

.about_wp .bio span {
    font-size: 30px;
}

.about_wp .bio p {
    margin-top: 20px;
    line-height: 1.5;
}

.about_wp .bio {
    color: var(--text-color);
}

.prf_comment {
    margin-top: 50px;
    width: 100%;
    /* height: 100%; */
}

.prf_comment .prf_cmt_wp {
    width: 100%;
    height: 1000px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: var(--third-bgd-color);
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#comment_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

span.person {
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    border: 2px solid #555;
    background: var(--second-bgd-color);
    margin-right: 5px;
    box-sizing: border-box;
}

#comment_form #comment {
    flex: 1;
    height: 50px;
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 5px;
    background-color: var(--background-color);
}

#comment_form input[type="text"] {
    color: var(--text-color);
}

#comment_form #send_btn {
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    border: none;
    background: var(--btn-color);
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}